*{
	margin:0;
	padding:0;
	
}
body{
	font-size:12px;
	margin:0 auto;
	width:760px;
}
ul{
	list-style-type:none;
}
#header{
	width:760px;
	height:303px;
	background:red;
	}
#sidebar{
	width:203px;
	height:420px;
	background:navy;
	float:left;
}
#news{
	width:557px;
	height:420px;
	background:orange;
	float:right;
}
#pics{
	width:760px;
	height:256px;
	background:pink;
	clear:both;
}
#con{
	width:760px;
	height:373px;
	background:yellow;
}
#footer{
	width:760px;
	height:66px;
	background:blue;
}