*{
	margin:0;
	padding:0;
	
}
body{
	font-size:12px;
	margin:0 auto;
	width:1024px;
	margin:center;
	position:relative;
}
ul{
	list-style-type:none;
}

#header{
	width:1024px;
	height:150px;
	position:absolute;
	top:0px;
	background:url(case/1.jpg) no-repeat;
}
	

#ulname {
   
	padding:119px 0 0 156.5px;
}
.line {
	width:94px;
	height:19px;
	float:left;
	font-size:10px;

}
.line a {
	width:45px;
	height:19px;
	display:block;
	text-indent:-999px;
	}	

#picture{
	width:1024px;
	height:255px;
	background:url(case/2.jpg) no-repeat;
	position:absolute;
	top:149px;
	left:0px;
	}
#pro{
    width:200px;
	height:310px;
	background:lightgray;
	position:absolute;
	top:420px;
	left:140px;
	border-bottom:;

}	
#pro h1{
	height:100px;
	background:url(case/3.jpg) no-repeat top;
    font-size:10px;
    width:200px;
	text-align:right;
	color:white;

}
#pro h1 a{
	color:white;
	position:absolute;
	top:11px;
	left:158px;
	text-decoration:none; 
	
}
#sev{
	height:80.8%;
	background:url(case/y.jpg) repeat-y;
	position:absolute;
	top:43px;
	left:10px;
	width:200px;
	font-size:12px;
}
.line1{
	height:7.5%;
	margin:6.5px 0 0 50px;
}
.line1:hover{
	color:red;
}

#information{
    width:200px;
	height:200px;
	position:absolute;
	top:740px;
	left:140px;
}
#information h1{
	height:30px;
	background:url(case/4.jpg) no-repeat top;
    font-size:10px;
    width:200px;
	text-align:right;
	color:white;

}
#information h1 a{
	color:white;
	position:absolute;
	top:11px;
	left:158px;
	text-decoration:none; 

}
#xin{
	height:80.8%;
	border:1px solid lightgray;
	position:absolute;
	top:38px;
	left:0px;
	width:198px;
	font-size:12px;
}
.line2{
	height:14%;
	width:85%;
	margin:8px 0 0 13px;
	border-bottom:1px dashed lightgray ;

}
.line2:hover{
	color:red;
}

#equipment{
	width:200px;
	height:170px;
	background:url(case/5.jpg) no-repeat top;
	position:absolute;
	top:950px;
	left:140px;
}
#equipment img{
	position:absolute;
	top:35px;
	left:0px;
	width:200px;
	height:165px;
}
#com{
	width:300px;
	height:250px;
	background:url(case/6.jpg) no-repeat top;
	position:absolute;
	top:420px;
	left:350px;
}

#two {

	width:300px;
	height:210px;
	border:1px solid lightgray;
	position:absolute;
	top:35px;
	left:0px;
}

#com img {
    
	float:left;
	width:100px;
	height:76px

} 

.hot a{
	color:#ff546b;
	
	text-decoration:none; 
}
.cold a{
	color:#ff546b;
	
	text-decoration:none; 
}

#connect{
	width:250px;
	height:240px;
	background:url(case/7.jpg) no-repeat;
	position:absolute;
	top:425px;
	left:660px;
	border-bottom:1px solid lightgray;
}
#buding{
	width:560px;
	height:50px;
	background:url(case/7.5.jpg) no-repeat;
	position:absolute;
	top:680px;
	left:350px;
}
#center{
	width:560px;
	height:190px;
	background:url(case/8.jpg) no-repeat top;
	position:absolute;
	top:745px;
	left:350px;

}
#center h1 {
	height:30px;
	width:542px;
	position:absolute;
	top:10px;
	left:0px;
    font-size:10px;
	text-align:right;
	
	color:white;
}
#center h1 a{
	text-decoration:none; 
	color:white;
}

.line3{
	width:120px;
	height:100px;
	position:absolute;
	top:40px;
	left:20px;

}
.line4{
	width:120px;
	height:100px;
	position:absolute;
	top:160px;
	left:50px;

}
.line5{
	width:120px;
	height:100px;
	position:absolute;
	top:40px;
	left:155px;

}
.line6{
	width:120px;
	height:100px;
	position:absolute;
	top:160px;
	left:180px;

}
.line7{
	width:120px;
	height:100px;
	position:absolute;
	top:40px;
	left:290px;

}
.line8{
	width:120px;
	height:100px;
	position:absolute;
	top:160px;
	left:320px;

}
.line9{
	width:120px;
	height:100px;
	position:absolute;
	top:40px;
	left:425px;

}
.line10{
	width:120px;
	height:100px;
	position:absolute;
	top:160px;
	left:450px;

}
#case{
	width:560px;
	height:200px;
	background:url(case/9.jpg) no-repeat top;
	position:absolute;
	top:950px;
	left:350px;
}
#case h1 {
	height:30px;
	width:542px;
	position:absolute;
	top:10px;
	left:-2px;
    font-size:9px;
	text-align:right;
	color:white;
}
#case h1 a{
	text-decoration:none; 
	color:white;
}

.line11{
	width:120px;
	height:100px;
	position:absolute;
	top:40px;
	left:20px;

}
.line22{
	width:120px;
	height:100px;
	position:absolute;
	top:160px;
	left:50px;

}
.line33{
	width:120px;
	height:100px;
	position:absolute;
	top:40px;
	left:155px;

}
.line44{
	width:120px;
	height:100px;
	position:absolute;
	top:160px;
	left:200px;

}
.line55{
	width:120px;
	height:100px;
	position:absolute;
	top:40px;
	left:290px;

}
.line66{
	width:120px;
	height:100px;
	position:absolute;
	top:160px;
	left:330px;

}
.line77{
	width:120px;
	height:100px;
	position:absolute;
	top:40px;
	left:425px;

}
.line88{
	width:120px;
	height:100px;
	position:absolute;
	top:160px;
	left:460px;

}
#footer{
	width:1024px;
	height:150px;
	background:black;
	position:absolute;
	top:1160px;
	left:0px;
}