*{
	margin:0;
	padding:0;
	
}
body{
	font-size:12px;
	margin:0 auto;
	width:1024px;
	margin:center;
	position:relative;
}
ul{
	list-style-type:none;
}
#header{
	width:1024px;
	height:150px;
	position:absolute;
	top:0px;
	background:url(case/1.jpg) no-repeat;
}
	ul{
	list-style-type:none;
}
#header ul {
   
	padding:119px 0 0 156.5px;
}
#header ul li {
	width:94px;
	height:19px;
	float:left;
	font-size:10px;

}
#header ul li a {
	width:45px;
	height:19px;
	display:block;
	text-indent:-999px;
	}	

#picture{
	width:1024px;
	height:255px;
	background:url(case/2.jpg) no-repeat;
	position:absolute;
	top:149px;
	left:0px;
	}
#pro{
    width:200px;
	height:310px;
	background:lightgray;
	position:absolute;
	top:420px;
	left:140px;
	border-bottom:;

}	
#pro h1{
	height:100px;
	background:url(case/3.jpg) no-repeat top;
    font-size:10px;
    width:200px;
	text-align:right;
	color:white;

}
#pro h1 a{
	color:white;
	position:absolute;
	top:11px;
	left:158px;
	text-decoration:none; 
	
}
#pro ul{
	height:80.8%;
	background:url(case/y.jpg) repeat-y;
	position:absolute;
	top:43px;
	left:10px;
	width:200px;
	font-size:12px;
}
#pro ul li{
	height:7.5%;
	margin:6.5px 0 0 50px;
}
#pro ul li:hover{
	color:red;
}

#information{
    width:200px;
	height:200px;
	position:absolute;
	top:740px;
	left:140px;
}
#information h1{
	height:100px;
	background:url(case/4.jpg) no-repeat top;
    font-size:10px;
    width:200px;
	text-align:right;
	color:white;

}
#information h1 a{
	color:white;
	position:absolute;
	top:11px;
	left:158px;
	text-decoration:none; 

}
#information ul{
	height:80.8%;
	border:1px solid lightgray;
	position:absolute;
	top:38px;
	left:0px;
	width:198px;
	font-size:12px;
}
#information ul li{
	height:14%;
	width:85%;
	margin:8px 0 0 13px;
	border-bottom:1px dashed lightgray ;

}
#information ul li:hover{
	color:red;
}

#equipment{
	width:200px;
	height:200px;
	background:url(case/5.jpg) no-repeat top;;
	position:absolute;
	top:950px;
	left:140px;
}
#equipment img{
	position:absolute;
	top:30px;
	left:0px;
}
#com{
	width:300px;
	height:240px;
	background:green;
	position:absolute;
	top:430px;
	left:350px;
}
#connect{
	width:250px;
	height:240px;
	background:yellow;
	position:absolute;
	top:430px;
	left:660px;
}
#buding{
	width:560px;
	height:50px;
	background:purple;
	position:absolute;
	top:680px;
	left:350px;
}
#center{
	width:560px;
	height:200px;
	background:lightblue;
	position:absolute;
	top:740px;
	left:350px;
}
#case{
	width:560px;
	height:200px;
	background:pink;
	position:absolute;
	top:950px;
	left:350px;
}
#footer{
	width:1024px;
	height:150px;
	background:black;
	position:absolute;
	top:1160px;
	left:0px;
}