*{
	margin:0;
	padding:0;
	
}
body{
	font-size:12px;
	margin:0 auto;
	width:1272px;
	margin:center;
    position:relative;
}
ul{
	list-style-type:none;
}

#header{
	width:1272px;
	height:128px;
	background:url(1.jpg) no-repeat;
	position:absolute;
}
#pipe1{
	padding:90px 0 0 160px;


}
.line {
	width:130px;
	height:19px;
	float:left;
	font-size:14px;

}
.line a {
	width:63px;
	height:19px;
	display:block;
	color:white;
	text-decoration:none; 
    font-family:方正大黑简体;
	}	
#picture{
	width:1272px;
	height:253px;
	background:url(2.jpg) no-repeat;
	position:absolute;
	top:128px;
}

#six{
    width:977px;
	height:72px;
	position:absolute;
	top:381px;
	left:147.5px;
	background:url(3.jpg) repeat-x;
}
		
#introduce{
	width:414px;
	height:258px;
	position:absolute;
	top:453px;
	left:147.5px;
	background:url(6.jpg) no-repeat top;
}
#three{
	position:absolute;
	top:60px;
	width:400px;
	height:570px;
}
#three img{

	float:left;
	width:120px;
	height:120px;
	top:210px;

}
.build a{
	color:#ff546b;
	width:350px;
	height:430px;
	text-decoration:none; 
}

#news{
	width:303px;
	height:258px;
	position:absolute;
	top:453px;
	left:561.5px;
	background:url(7.jpg) no-repeat top;

}
#news h1{
	font-family:黑体;
	font-size:10px;
	color:gray;
	position:absolute;
	top:15px;
	left:130px;
}
#news h1 a{
	text-decoration:none; 
	color:gray;
}
#news ul{
    display:block;
    padding-left:20px;
	width:250px;
	margin-top:50px;
}
#news ul li{
    display:block;
	width:250px;
    padding:5px;
}
#news em{
	float:right;
}
#contact{
	width:260px;
	height:258px;
	position:absolute;
	top:453px;
	left:864.5px;
	background:green;

 }
#display{
	width:977px;
	height:222px;
	position:absolute;
	top:711px;
	left:147.5px;
	background:red;
}

#footer{
	width:977px;
	height:120px;
	position:absolute;
	top:830px;
	left:147.5px;
	background:blue;
}
