*{
	margin:0;
	padding:0;
	
}
body{
	font-size:12px;
	margin:0 auto;
	width:1024px;
	margin:center;
	position:relative;
}


#header{
	width:1024px;
	height:150px;
	position:absolute;
	top:0px;
	background:url(1.jpg) no-repeat;

}
#pipe1{
padding:120px 0 0 140px;
}
.line {
	width:100px;
	height:19px;
	float:left;
	font-size:10px;

}
.line a {
	width:45px;
	height:19px;
	display:block;
	text-indent:-9999px;
	}	
#picture{
	width:724px;
	height:360px;
	background:url(2.jpg) no-repeat;
	position:absolute;
	top:150px;
	left:150px;
	}
#six{
	position:absolute;
	top:506px;
	left:150px;
	width:724px;
	height:40px;
	background:url(3.jpg) repeat-x;
}
#introduce{
	position:absolute;
	top:550px;
	left:150px;
	width:324px;
	height:300px;
	background:url(6.jpg) no-repeat top;
}
#three{
	position:absolute;
	top:40px;
	width:324px;
	height:270px;
}
#three img{

	float:left;
	width:100px;
	height:100px;
	top:210px;
}
.build a{
	color:#ff546b;
	
	text-decoration:none; 
}

#news{
	width:200px;
	height:300px;
	background:url(9.jpg) no-repeat top;
	position:absolute;
	top:550px;
	left:474px;
}
#news h1{
	font-family:黑体;
	font-size:10px;
	color:gray;
	position:absolute;
	top:15px;
	left:130px;
}
#news h1 a{
	text-decoration:none; 
	color:gray;
}

#date{
	position:absolute;
	top:30px;
	right:0px;
	width:200px;
	height:200px;
	background:blue;
}
#date ul{
   position:absolute;
	top:30px;
	right:10px;

}
#contact{
	position:absolute;
	top:550px;
	right:150px;
	width:200px;
	height:300px;
	background:blue;
}
#display{
	position:absolute;
	top:750px;
	left:150px;
	width:724px;
	height:200px;
	background:yellow;
}
#footer{
	position:absolute;
	top:900px;
	left:150px;
	width:724px;
	height:170px;
	background:url(8.jpg) no-repeat;
}